*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e5e5e5;
    font-family: sans-serif;
}

.app{
    border:5px solid #abcea1;
    width: 300px;
    height: 500px;
    border-radius: 5px;
    background-color: white;
    padding: 20px 10px 10px 20px;
    display: flex;
    flex-direction: column;
    gap:10px;
    overflow-y: scroll;
}

.app::-webkit-scrollbar { width: 0 !important }

.app h4{
    align-self: flex-start;
}

#addNew{
    align-self: center;
    background-color: rgba(171,206,161,0.35);
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    width: 90%;
    border-radius: 4px;
    cursor: pointer;
}

.fa-plus{
    background-color: #abcea1;
    padding:3px;
    border-radius: 3px;
}

h5{
    align-self: center;
}

#tasks{
    display: grid;
    justify-content: center;
    align-items: center;
    gap:10px;
}

#tasks div{
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between;  */
    display: grid;
    /* height: 100px; */
    width: 250px;
    background-color: #e2eede;
    border: 3px solid #abcea1;
    padding:5px;
    border-radius: 6px;
    gap: 5px;
}

.options{
    justify-self: center;
    display: flex;
    gap:20px;
}

.options i{
    cursor: pointer;
}

#msg{
    color:red;
}